.header
  .header__text
    グループを作成しました

.sidebar
  .sidebar__header
    hoge
  .sidebar__list
   .sidebar__list--name
      sample
   .sidebar__list--msg
      Good bye world!

.contents
  .contents__header
    .contents__header--name
      sample
    .contents__header--members
      Members: hoge
    .contents__header--btn

  .contents__list
    .contents__list--name
      hoge
    .contents__list--time
      2019/01/01  00:00:00
    .contents__list--msg
      Hello World!

.form
  .form__textbox

  .form__btn