.header
  .header__text
    グループを作成しました

.sidebar
  .sidebar__header
    hoge
  .sidebar__text
    sample
  .sidebar__msg
    Good bye world!

.contents
  .contents__header
  .contents__header--title
    sample
  .contents__header--msg
    Members: hoge
  .contents__header--btn

  .contens__name
    hoge
  .contents__time
    2019/01/01  00:00:00
  .contents__text
    Hello World!

.form
  .form__textbox

  .form__btn